/* index.html */
/* #container{
    display:flex
}
.box{
    width:100px;
    height:100px;
    background-color:orange;
    margin:4px;
}

.box1{
    flex-basis:30%
}

.box2{

}

.box3{

} */

#container{
    width:min(100px,1024px);
    margin:100px auto;
}
#container .nav-wrap{
    display:flex;
    justify-content: space-between ;
    align-items:end;
}

#container .nav-wrap.nav{
    display:flex;
    justify-content:space-between;
}

#container.nav-wrap.nav li{
    list-style:none;
    padding:04px;
    font-size:14px;
    line-height:19px;
}

#container.content-wrap.image{
    padding-top:calc(100%/300*169);
    background-size:cover;
    background-position:center;
    background-image: url("");
}